.topten {
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.topten-wrapper {
  /*display: table-cell;*/
  /*vertical-align: middle;*/
}

.topten-page-box {
  margin: auto;
  /*font-size: 5.5em;*/
  font-size: 10vw;
  font-weight: 800;
  color: red;
  /*width: 45%;*/
}

.loveto {
  margin: auto;
  line-height: 8vw;
  /*width: 45%;*/
}

.loveto p {
  font-size: 7vw;
  margin: 0 5vw;
  color: white;
}
