.topten {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: table;
  color: red;
}

.topten-wrapper {
  border: 1px solid yellow;
  display: table-cell;
  vertical-align: middle;

}

.topten-page-box {
  font-size: 6em;
  font-weight: 800;
  /*border: 1px solid yellow;*/
  margin: 0;
}

.topten p {
  font-size: 4em;
  /*border: 1px solid yellow;*/
  margin: 0;
  color: white;
}

.loveto {
  margin: auto;
  line-height: 4em;
  /*border: 1px solid red;*/
  width: 50%;
}
