.welcome-container {
  /*border: 1px solid green;*/
  /*position: absolute;*/
}

.arrow {
  position: absolute;
  width: 10%;
  height: 100%;
  /*border: 3px solid #73AD21;*/
  color: white;
  padding: 10px;
  top: 0px;
  z-index: 2;
}

.arrow:hover {
  background-color: rgba(96, 96, 96, 0.2);
  color: red;
}

.arrow-icon {
  /*border: 1px solid red;*/
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

.left-arrow {
  left: 0px;
  font-size: 3em;
}

.right-arrow {
  right: 0px;
  font-size: 3em;
}

img {
  display: inline-block;
  width: 70px;
  position: relative;
  animation-name: samurai;
  animation-duration: 30s;
  animation-iteration-count: 100;
  z-index: 10;
}

@-webkit-keyframes samurai {
    0%  {top:-70px;}
    25% {top:0px;}
    50% {top:-70px;}
    75% {top:0px;}
    100% {top:-70px;}
}
